.profile__edit-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 3.75px 22.5px 3.75px 0;
  border: none;
  padding: 0;
  outline: none;
}

.profile__edit-image::before {
  content: '';
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  background-image: url(../../../images/profile-avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .16s linear;
}

.profile__edit-image:hover::before {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .profile__edit-image {
    margin: 3.75px auto 3.75px;
  }
}













/*.profile__edit-image {*/
/*  min-width: 120px;*/
/*  height: 120px;*/
/*  background: url(../../../images/profile-add.svg) no-repeat center;*/
/*  background-size: cover;*/
/*  border-radius: 50%;*/
/*  cursor: pointer;*/
/*  position: relative;*/
/*}*/
/*!*.profile__edit-image:hover {*!*/
/*!*  opacity: 0.2;*!*/
/*!*  background: center no-repeat #000000 url(../../../images/profile-avatar.svg);*!*/
/*!*cursor: pointer;*!*/
/*!*}*!*/
/*.profile__edit-image:hover::after {*/
/*  content: '';*/
/*  background: url(../../../images/profile-avatar.svg) no-repeat center;*/
/*  border-radius: 50%;*/
/*  background-color: rgba(42, 44, 47, 0.8);*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/